# Python cache
__pycache__/
*.pyc

# Conda environment
/env
.env
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
**/data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
.env/
venv/
env/

# PyCharm
.idea/